.country{
    border: 2px solid rebeccapurple;
    margin: 15px;
    padding: 15px;
    border-radius: 15px;
}

.visited{
    background-color: bisque;
    color:black;
}

.non-visited{
    background-color: skyblue;
}

.flag-container img{
    width: 100px;
}

